node_modules
dist
coverage
.DS_Store
*.log
.env
.env.local
android/.gradle
android/.idea
android/build
android/app/build
android/app/release
android/captures
android/local.properties
android/*.iml
.idea
*.iml
.vscode
